@charset "utf-8";

@import 'normalize';
@import 'bourbon/bourbon';
@import 'grid-settings';
@import 'neat/neat';
@import 'base/base';

$background_color: #C3FEFB;
$base-text-color: $dark-gray;

section, div, section{
  border-radius: 0.2em;
  padding:0.2rem;
}

header{
  text-align: center;
  font-size: 2em;
}

body{
  @include outer-container;
}

a, a:visited, a:active, a:visited{
  text-decoration: none;
  color: $base-text-color;
  padding-right: 12px;
  background: image-url('link-icon.png') no-repeat right bottom;
  &:hover{
    color:#A6E22D;
  }
}

nav{
  a, a:visited, a:active, a:visited{
    text-decoration: none;
    color: $base-text-color;
    padding-right: initial;
    background: initial;
    &:hover{
      color:#A6E22D;
    }
  }
}

.reading-list{
  ol{
    list-style-type: decimal;
    margin-left: 3em;
  }
}

section.book-info, section.discussion-info{
  @include row;
  background-color: $background_color;
  margin: 0.5em;
  padding: 0.5em;
}

section.discussion-info{
  background-color: lighten(#A5A8AB, 10%);
  a:hover{
    color:white;
  }
}

.discussion-info--resources{
  @include shift(1);
  @include media($single-column){
    @include span-columns(1);
    @include shift(0);
  }
  .title{
    @extend .general--title;
    text-decoration: none;
  }
}

.book-info--img{
  @include span-columns(3.5);
  @include shift(1);
  @include media($single-column){
    @include span-columns(1);
    @include shift(0);
  }
}

.general--title{
  font-size: 3em;
  @include media($single-column){
    text-align: center;
  }
}

.book-info--description{
  @include span-columns(5.5);
  @include shift(1);
  @include media($single-column){
    @include span-columns(1);
    @include shift(0);
  }
  .title{
    @extend .general--title;
    text-decoration: underline;
  }
  .by{
    margin-bottom: 3rem;
    font-style: italic;
    @include media($single-column){
      text-align: center;
    }
  }
  .info{
    max-width: 70%;
    border: 3px solid white;
    background-color: lighten($background_color, 5%);
    @include media($single-column){
      margin: auto;
      max-width: initial;
    }

    .available {
      ul {
        list-style: none;
        margin-top: 0.3em;
        padding-left: 1em;
      }
    }
  }
}