.logo
  %h1 &lt;!--Self-Indulgent Code--&gt;
.subtext
  %h5
    %i Adjective:
    %strong characterized by doing or tending to do exactly what one wants, especially when this involves pleasure or idleness
