---
title: Self-Indulgent Code
---
.about-me
  .about--header.me
    Who Am I?
  .about--content.me

  .about--header.do
    What do I do?
  .about--content.do
.personal-image
  %p.vignette= image_tag "January_04_2015-1-2.jpg"

.easter-egg
  This site's background is called Hooker Green. LOL! RIGHT!?